.title{
  float: left;
  width: 100%;
  height: 25vh;
  background-color: #ffffff;
}
.middle{
  float: left;
  width: 100%;
  height: 75vh;
  background-color: #5271FD; 
}
.center{
  margin: auto;
  width: 20%;
}
h1{
  font-size: 5vh;
  font-family:Arial, Helvetica, sans-serif;
}
.button-zone{
  margin: auto;
  background-color: #5271FD;
  width: 80%;
  height: 55vh;
  margin-top: 5%;
}
.box{
  float: left;
  width: 30%;
  height: 100%;
  margin: 1%;
  background-color: rgb(189, 200, 150);
  border-radius: 25px;
}
h2{
  font-size: 5vh;
  color: rgb(224, 229, 229);
  font-family:Arial, Helvetica, sans-serif;
}
.centertext{
  text-align: center;
}
.centertextcircle{
  text-align: center;
  border-radius: 25px;
  border: 3px solid black;
  background-color: rgb(154, 163, 122);
}
img{
  height: 30vh;
  width: 30vh;
}
.logo{
  height: 10vh;
  width: 35vh;
}