.bg{
    width: 100%;
    background-color: darkcyan;

}
.bg2{
    width: 100%;
    height: 100vh;
    background-color: darkcyan;
}
body{
    padding: 0;
    margin: 0;
}
.izquierda{
    float: left;
    width: 20%;
    margin-left: 35%;
}
.derecho{
    float: left;
    width: 50%;
}
.atento{
    font-size: 5vh;
}